.App {
  text-align: center;
  display: flex;
  text-align: center;
  justify-content: center;
  height: inherit;
}

.vh100{
  height:100vh
}

.w100{
  width: 100%;
}
.mtb30{
  margin: 30px 0px;
}
.mtb20{
  margin: 20px 0px;
}
.mtb10{
  margin: 10px 0px;
}
.padding0{
  padding: 0px;
}
